.user-profile-background {
  height: 850px;
  background-image: url('../assets/background2.webp');
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.user-profile-container {

  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: rgba(248, 249, 250, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.profile-image-container {
  text-align: center;
  margin-bottom: 20px;
}
.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  
}

.user-profile-card {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.save-button {
  background-color: #007B8A;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: #006977;
}

.delete-button {
  margin-left: 15px;
  background-color: #d44352;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #b92433;
}