/* Fondo de la navbar y color de los enlaces */
.custom-navbar {
  background-color: #007B8A; /* Color de fondo personalizado */
}

.navbar-logo img {
  margin-right: 10px;
  border-radius: 50%; /* Logo circular */
}

.navbar-brand, .navbar-links .nav-link {
  color: white !important; /* Color del texto */
  font-size: 18px;
  font-weight: bold;
}

.navbar-links .nav-link:hover {
  color: #FFDD57 !important; /* Color de hover en los enlaces */
}

.navbar-links .nav-link.active {
  color: #FFFFFF !important; /* Color para el enlace activo */
}
/* Cambiar el color del icono de menú a blanco */
.custom-toggle .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  width: 30px;
  height: 30px;
}

/* Centrar logo en pantallas pequeñas */
@media (max-width: 768px) {
  .navbar-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
