/* Fondo de la página de register */
.register {
  background-image: url('/src/assets/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Contenedor del formulario de register */
.register-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 60px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 650px; /* Ajusta el ancho del contenedor */
  text-align: center;
}

/* Logo */
.logo-container {
  margin-bottom: 30px;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
}

/* Título del formulario */
.register-form h2 {
  margin-bottom: 20px;
  font-size: 32px;
  color: #007B8A;
}

/* Fila de inputs para organización en dos columnas */
.input-row {
  display: flex;
  justify-content: space-between;
  gap: 4%; /* Espacio entre los inputs */
  margin-bottom: 20px;
}

/* Inputs generales */
.register-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}

.register-input-half {
  width: 48%; /* Ajusta el ancho para dos columnas */
}

/* Botón de Registro */
.register-button {
  width: 100%;
  padding: 15px;
  background-color: #007B8A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #00626e;
}

/* Mensajes de éxito y error */
.message {
  font-size: 16px;
  margin-top: 10px;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}
